VITE_LOVE_NOTES_URL=https://docs.google.com/spreadsheets/d/e/2PACX-1vSLcgiDlbZXWRIWHDyELiLtnCADiUq7sAbv9UkW1BvFF-RCqX_zR9Mcsx7gksiGUlphvA4p0sJJKxiJ/pub?gid=0&single=true&output=csv
VITE_MEMORIES_URL=https://docs.google.com/spreadsheets/d/e/2PACX-1vSLcgiDlbZXWRIWHDyELiLtnCADiUq7sAbv9UkW1BvFF-RCqX_zR9Mcsx7gksiGUlphvA4p0sJJKxiJ/pub?gid=56786819&single=true&output=csv
VITE_DATE_IDEAS_URL=https://docs.google.com/spreadsheets/d/e/2PACX-1vSLcgiDlbZXWRIWHDyELiLtnCADiUq7sAbv9UkW1BvFF-RCqX_zR9Mcsx7gksiGUlphvA4p0sJJKxiJ/pub?gid=415235520&single=true&output=csv
VITE_SECRET_MESSAGES_URL=https://docs.google.com/spreadsheets/d/e/2PACX-1vSLcgiDlbZXWRIWHDyELiLtnCADiUq7sAbv9UkW1BvFF-RCqX_zR9Mcsx7gksiGUlphvA4p0sJJKxiJ/pub?gid=1426816270&single=true&output=csv
